.activity {
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
}

.activity:not(:first-child) {
    margin-top: -25px;
}

.activity__content {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 1128px;
    flex-flow: row nowrap;
    margin: 0 auto;
    border-radius: 25px;
}

.activity:not(:last-child) .activity__content {
    padding-bottom: 85px;
}

.activity:nth-child(odd) .activity__content {
    flex-direction: row-reverse;
}

.activity__description {
    display: flex;
    flex: 1 0;
    flex-flow: column nowrap;
    padding: 60px;
}

.activity__description h2 {
    /* text styles */
}

.activity__description p {
    margin-top: 15px;

    /* text styles */
}

.activity:nth-child(odd) .activity__description {
    padding-right: 100px;
}

.activity:nth-child(even) .activity__description {
    padding-left: 100px;
}

.activity__preview {
    position: relative;
    display: block;
    flex: 0 0 400px;
}

.activity__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity__overlay {
    --activity-overlay-background: var(--activity-overlay-default-background);

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: unset;
    border: none;
    background: var(--activity-overlay-background);
    outline: none;
}

.activity__overlay:hover {
    --activity-overlay-background: var(--activity-overlay-hover-background);

    cursor: pointer;
}

.activity__overlay:active {
    --activity-overlay-background: var(--activity-overlay-active-background);
}

.activity__actions {
    display: flex;
    width: calc(100% + var(--activity-actions-margin));
    flex-wrap: wrap;
    margin:
        calc(var(--activity-actions-margin) * -1 + var(--activity-actions-spacer))
        0 0 calc(var(--activity-actions-margin) * -1);
}

.activity__actions > .activity__action {
    margin: var(--activity-actions-margin) 0 0 var(--activity-actions-margin);
}

@media (--viewport-tablet) {
    .activity .activity__content[class] {
        flex-flow: column-reverse nowrap;
        align-items: center;
        margin: 0 auto;
        border-radius: 25px;
        text-align: center;
    }

    .activity .activity__description[class] {
        padding: 20px 10px;
    }

    .activity__preview {
        height: var(--activity-preview-height);
        flex: unset;
    }

    .activity__actions {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media screen and (max-width: 764px) {
    .activity .activity__content[class] {
        width: 100%;
        flex-flow: column-reverse nowrap;
        align-items: center;
        margin: 0 auto;
        border-radius: 25px;
        text-align: center;
    }

    .activity .activity__description[class] {
        padding: 20px 10px;
    }

    .activity__preview {
        width: 100%;
        height: var(--activity-preview-height);
        flex: unset;
    }

    .activity__actions {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}
