.button {
    display: flex;
    height: var(--button-height);
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    border: none;
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    outline: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--color-hover);
    box-shadow: none;
    transform: translateY(-2px);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:focus {
    background-color: var(--color-primary);
    box-shadow: var(--ring-shadow);
    transform: translateY(-2px);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:active {
    background-color: var(--color-active);
    box-shadow: none;
    transform: none;
}

.button:active:focus {
    background-color: var(--color-active);
    box-shadow: var(--ring-shadow);
    transform: none;
}

.button:hover:focus {
    background-color: var(--color-primary);
    box-shadow: var(--ring-shadow);
    transform: none;
}

.button_view_primary {
    background-color: var(--color-primary);
    color: #fff;
}

.button_view_secondary {
    background-color: var(--color-secondary);
}

.button_size_s {
    --button-height: var(--button-size-s-height);
}

.button_size_m {
    --button-height: var(--button-size-m-height);
}

.button_size_l {
    --button-height: var(--button-size-l-height);
}
