.button {
    display: flex;
    height: var(--button-height);
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    font: var(--typography-button-shorthand);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
    box-shadow: none;
    transform: translateY(-2px);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:focus {
    box-shadow: var(--ring-shadow);
    transform: translateY(-2px);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:active {
    box-shadow: none;
    transform: none;
}

.button:active:focus {
    box-shadow: var(--ring-shadow);
    transform: none;
}

.button:hover:focus {
    box-shadow: var(--ring-shadow);
    transform: none;
}

.button_view_primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.button_view_primary:hover {
    background-color: var(--button-color-hover);
}

.button_view_primary:active {
    background-color: var(--button-color-active);
}

.button_view_primary:focus {
    box-shadow: var(--button-color-shadow-primary);
}

.button_view_primary:hover:focus {
    background-color: var(--button-color-hover);
    box-shadow: var(--button-color-shadow-primary);
}

.button_view_primary:active:focus {
    background-color: var(--button-color-active);
    box-shadow: var(--button-shadow-primary);
}

.button_view_secondary {
    background-color: var(--color-secondary);
    color: var(--color-additional);
}

.button_view_secondary:hover {
    color: var(--button-color-hover);
}

.button_view_secondary:active {
    color: var(--button-color-active);
}

.button_view_secondary:focus {
    box-shadow: var(--button-shadow-secondary-still);
}

.button_view_secondary:hover:focus {
    box-shadow: var(--button-shadow-secondary-hover);
}

.button_view_secondary:active:focus {
    box-shadow: var(--button-shadow-secondary-active);
}

.button_size_s {
    --button-height: var(--button-size-s-height);
}

.button_size_m {
    --button-height: var(--button-size-m-height);
}

.button_size_l {
    --button-height: var(--button-size-l-height);
}
