.sidenav {
    display: grid;
    min-height: 100vh;
    grid: [stack] 1fr / min-content [stack] 1fr;
}

@media (--viewport-tablet) {
    .sidenav > * {
        grid-area: stack;
    }
}

.sidenav__aside {
    --duration: 0.65s;

    z-index: 100;
    display: grid;
    grid-template-columns: [nav] 2fr [escape] 1fr;
}

@media (prefers-reduced-motion: reduce) {
    .sidenav__aside {
        --duration: 1ms;
    }
}

@media (--viewport-tablet) {
    .sidenav__aside {
        transform: translateX(-110vw);
        transition:
            transform var(--duration) ease,
            visibility 0s linear var(--duration);
        visibility: hidden;
        will-change: transform;
    }

    .sidenav_open .sidenav__aside,
    .sidenav__aside:target {
        transform: translateX(0);
        transition: transform var(--duration) ease;
        visibility: visible;
    }
}

.sidenav__open {
    display: none;
}

@media (--viewport-tablet) {
    .sidenav__open {
        display: unset;
    }
}
