.navigator-stories__nav {
    position: sticky;
    top: 0;
}

.navigator-stories__link {
    display: block;
    text-decoration: none;
}

.navigator-stories__link_active {
    text-decoration: underline;
}
